.outside{
    display: flex;
    width:100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

img{
    width:45vw;
   
}


.cent{
    align-items: center;
}

#imgo{
    min-width: 300px;
}
.memeHolder{
    position:relative;
    display:flex;
    justify-content: center;
    width: fit-content;
    height:fit-content;
    

}

.memeTexttop{
    font-size:40px;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    outline: 1px;
    position: absolute;
    z-index: 2;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}
.memeTextbottom{
    z-index:2;
    font-size:40px;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    outline: 1px;
    position:absolute;
    bottom:0;
    z-index: 2;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}

.divButton{
    margin-top:10px;
    background-color: antiquewhite;
}

#flex-items{
    border-radius: 9%;
    color:wheat;
    font-size: 16px;
    margin: 10px;
    background-color: rebeccapurple;
    min-width: 70px;
    min-height: 70px;
    width: 5vw;
    height: 4vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width:500px){
    .memeTextbottom {
        font-size: 16px;
    
    }
    .memeTexttop {
        font-size: 16px;
    
    }


    #imgo{
        width:300px;
    }


 }

 @media (max-width:900px){
    .memeTextbottom {
        font-size: 25px;
    
    }
    .memeTexttop {
        font-size: 25px;
    
    }


  

 }