.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:aliceblue;
    
    height: 80px;
}

.title{
    margin-right:30px;
    
}
a{
    text-decoration: none;
    box-shadow: inset;
    color:rgb(255, 255, 255);
    

}
a:hover{
    color:#DAB6FC;
}


.logo{
    height:100%;
    width: 50px;
    
}